.idea
.scrapy
**/__pycache__/**
__pycache__
/itchat_test/*.pkl
*.pkl
**/full/**
/ArticleSpider/ArticleSpider/utils/captcha.jpg
/ArticleSpider/ArticleSpider/utils/cookies.txt
/ArticleSpider/captcha.jpg
**/checkpoint
**/*.pickle
**/*.ckpt.*
/tensorflow_learn/mnist/data/*.idx3-ubyte
/tensorflow_learn/mnist/data/*.idx1-ubyte
/tensorflow_learn/practice_3/data/*.idx3-ubyte
/tensorflow_learn/practice_3/data/*.idx1-ubyte
output
